#search_for_movies {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
    text-align: left;
}

#search_for_movies label{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px));
    gap: 60px;
    list-style: none;
    padding: 0;
}

li {
    border: 1px solid #eeee;
    padding: 10px;
    border-radius: 10px;
    transition: transform 0.2s, box-shadow 0.2s;
    cursor: pointer;
}

li:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px;
}

p {
    text-align: center;
    font-style: italic;
    color: #18d677
}

img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 5px;
}