article {
    display:flex;
    flex-direction: column;
    gap: 20px;
    max-width: 800px;
    margin: 0 auto;
}

section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

img {
    max-width: 300px;
    margin: 0 auto;
    display: block;
}

